.details {
    font-size: 11pt;
    margin: 0 0 0 1em;
    padding: 0 0 0 1ex;
}

.details li {
    list-style-type: circle;
    margin: 2pt 0;
    padding: 0;
}

.education {
    page-break-inside: avoid;
}

.overview address {
    text-align: center;
}

.overview address ul {
    padding: 0;
}
.overview address ul li {
    display: inline;
    padding: 0 1ex;
    white-space: nowrap;
}

.overview aside {
    font-size: 10pt;
    text-align: center;
}

.overview aside ul {
    padding: 0;
}

.overview aside ul li {
    display: inline;
    padding: 0 1ex;
}

.project {
    page-break-inside: avoid;
}

.project::first-line {
    line-height: 200%;
}

.personal-projects {
    page-break-inside: avoid;
}
