#board {
    background: silver;
    border: 1pt solid black;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#clock {
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    #clock {
        background: black;
        color: white;
    }
}

#first_title {
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    #first_title {
        background: black;
        color: white;
    }
}

#memory_match {
    background: white;
    border: 0;
    color: black;
    font: 12pt Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1em;
}

@media (prefers-color-scheme: dark) {
    #memory_match {
        background: black;
        color: white;
    }
}

#options {
    margin: 1em;
    padding: 1em;
    position: absolute;
    text-align: center;
    z-index: 10;
}

@media (prefers-color-scheme: light) {
    #options {
        background: white;
        border: 1pt solid black;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    #options {
        background: black;
        border: 1pt solid white;
        color: white;
    }
}

#second_title {
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    #second_title {
        background: black;
        color: white;
    }
}

#status {
    bottom: 0;
    border: 0;
    left: 0;
    margin: 0;
    padding: 0.5em;
    position: fixed;
    text-align: center;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    #status {
        background: rgba(255, 255, 255, 0.9); /* white */
        border-top: 1pt solid silver;
    }
}

@media (prefers-color-scheme: dark) {
    #status {
        background: rgba(0, 0, 0, 0.9); /* black */
        border-top: 1pt solid gray;
    }
}

#tries {
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    #tries {
        background: black;
        color: white;
    }
}
